version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      sass:
        applies-to: version-updates
        patterns:
          - "sass-embedded*"
      minor:
        applies-to: version-updates
        exclude-patterns:
          - "sass-embedded*"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      actions:
        applies-to: version-updates
        patterns:
          - "*"
