.funding-agency {
    display: flex;
    gap: 15px;
    margin-bottom: 75px;

    .image {
        flex: 400px 0 0;
        background-color: white;
        padding: 15px;
    }
    .title {
        font-weight: bold;
        font-size: x-large;
    }
    .country {
        font-style: italic;
    }
}