.publication-list {
    .publication {
        
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        margin: 0pt 0pt 50pt;
        
        .information {
            
            .title {
                font-weight: bold;
            }

            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .no-image {
            display: none;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width: 700px) {
            flex-direction: row-reverse;

            .image, .no-image {
                flex: 250px 0 0;
                display: block;
            }
        }
    }
}